---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout>
  <Header />
  <section class="py-16 px-4 sm:px-6 md:py-24 lg:py-32">
    <div class="uppercase flex flex-row gap-4 text-lg">
      <a>HOME</a>
      <span>/</span>
      <span>contact us</span>
    </div>
    <br />
    <div>
        <p>Contact Details</p>
        <div>
            <h3>Telephone</h3>
            <p>+254709348242</p>
            <p>+254708849301</p>
        </div>
    </div>
  </section>
</BaseLayout>
