---

---

<footer>
  <div class="w-full py-6 border bg-black text-white flex justify-center items-center">
    <p>&copy;2024. All rights reserved.</p>
  </div>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
