---

---

<footer>
  <div class="container mx-auto bg-black text-white">
  <div class="w-full py-6 border  flex justify-center items-center">
    <p>&copy;2024. All rights reserved.</p>
  </div>
  </div>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
