---

---

<header class="h-10 relative">
  <nav
    class="z-[100] bg-transparent backdrop:filter w-full"
    style="backdrop-filter: blur(16px);"
  >
    <div
      class="w-full justify-center flex flex-row gap-5 top-[5rem] left-12 m-0"
    >
      <a
        class="block text-center py-3 decoration-[none] text-lg font-medium hover:text-primary"
        href="/">Book Now</a
      >
      <a
        class="block text-center py-3 decoration-[none] text-lg font-medium hover:text-primary"
        href="/blog">Contact</a
      >
    </div>
  </nav>
</header>
