---

---

<header id="header"
 class="fixed z-[100] py-2 w-full text-white"  style="backdrop-filter: blur(16px);">
  <nav
    class="z-[100] w-full"

  >
    <div
      class="w-full px-4 sm:px-12 justify-end flex flex-row gap-5 top-[5rem] left-12 m-0"
    >
      <!-- <a
        class="block text-center hover:text-blue-600 py-3 decoration-[none] font-medium hover:text-primary"
        href="/">Enquire</a
      > -->
      <a
        class="block bg-primary rounded-sm text-center py-2 px-4 decoration-[none] font-medium hover:bg-sky-800 duration-150 transition-colors ease-in"
        href="/contact-us">Contact Us</a
      >
    </div>
  </nav>
</header>

<style>
  #header.activated {
    background-color: black;
    color: white;
  }
</style>
<script>

  window.addEventListener('scroll', () => {
    let header = document.getElementById("header");
    if (window.scrollY > 20) {
      
      header.classList.add("activated")
    } else {
      header.classList.remove("activated")
    }
  })
</script>