---

---

<header class="border-b">
  <nav
    class="z-[100] w-full"
    style="backdrop-filter: blur(16px);"
  >
    <div
      class="w-full border px-4 sm:px-8 justify-end flex flex-row gap-5 top-[5rem] left-12 m-0"
    >
      <a
        class="block text-center py-3 decoration-[none] font-medium hover:text-primary"
        href="/">Book Now</a
      >
      <a
        class="block text-center py-3 decoration-[none] font-medium hover:text-primary"
        href="/contact-us">Contact Us</a
      >
    </div>
  </nav>
</header>
