---
import Button from "./Button";
---

<div class="fixed z-[100] w-full">
  <header
    id="header"
    class="mx-auto container py-2 flex items-center transition-all ease-in duration-200"
  >
    <nav class="w-full">
      <div
        class="w-full px-4 sm:px-12 flex flex-row justify-between gap-5 left-12 m-0"
      >
        <div class="">
          <svg
            viewBox="0 0 304 143"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="logo h-10 sm:h-16"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M142.5 28.657C115.55 44.396 93.312 57.437 93.083 57.636C92.854 57.836 92.998 58.331 93.403 58.736C94.182 59.516 95.897 58.646 111 49.815C116.225 46.76 129.95 38.735 141.5 31.981C153.05 25.227 169.391 15.6891 177.813 10.7851L193.125 1.86804L206.146 9.43405C213.307 13.5951 219.579 17 220.083 17C220.587 17 221 14.075 221 10.5V4.00005H231.471H241.942L242.221 17.244L242.5 30.4881L252 36.083C257.225 39.161 268.115 45.5761 276.199 50.3391C284.284 55.1031 291.147 59 291.449 59C291.752 59 291.979 58.438 291.953 57.75C291.927 57.063 281.36 50.425 268.47 43L245.035 29.5L245.017 15.75L245 2.00005H232H219V7.50005C219 10.525 218.576 13 218.058 13C217.539 13 212.113 10.075 206 6.50005C199.887 2.92505 194.123 0.00905055 193.192 0.0200506C192.262 0.0320506 169.45 12.918 142.5 28.657ZM257.447 51.765C254.933 53.52 250.85 60.124 249.056 65.336C247.988 68.441 246.147 76.723 244.964 83.741C243.782 90.758 242.744 96.555 242.657 96.623C239.03 99.457 227 102.212 227 100.208C227 99.6241 228.462 97.9921 230.25 96.5841C233.088 94.3471 233.235 94.021 231.405 94.011C230.253 94.005 228.454 94.946 227.407 96.102C224.906 98.867 220.162 101.276 218.487 100.634C217.755 100.352 216.974 99.0821 216.754 97.8111C216.404 95.8001 216.25 95.727 215.569 97.25C213.712 101.401 218.265 103.534 223.268 100.857C224.871 99.999 225.5 99.999 225.786 100.857C226.357 102.571 231.375 102.237 237.525 100.076L243 98.151L243.119 104.826L243.238 111.5L244.369 106.92C245.476 102.439 245.565 102.359 248.5 103.213C252.61 104.408 259.671 103.392 263.676 101.029C265.504 99.95 267 99.486 267 99.999C267 100.511 267.925 101.425 269.057 102.03C270.695 102.907 271.825 102.711 274.614 101.065C278.815 98.586 279 98.5661 279 100.574C279 101.808 280.026 102.113 283.75 101.985C294.134 101.629 294.039 101.551 288.75 106.084C282.136 111.753 282.466 115.504 289.325 112.637C293.181 111.027 296 107.573 296 104.462C296 103.055 297.334 101.619 300.066 100.083C302.302 98.8261 303.896 97.563 303.608 97.275C303.321 96.987 301.435 97.726 299.417 98.916C296.523 100.624 294.667 100.98 290.624 100.605C287.806 100.343 284.712 100.1 283.75 100.065C281.751 99.991 281.363 97.394 283.25 96.72C283.938 96.475 284.141 95.891 283.702 95.422C283.263 94.954 282.138 95.113 281.202 95.775C274.954 100.196 268.659 102.019 269.109 99.2781C269.599 96.2921 268.719 96.113 265.523 98.55C261.531 101.595 254.933 103.364 250.886 102.475L248.106 101.864L252.553 97.604C254.999 95.26 257 92.5771 257 91.6401C257 89.3421 254.348 88.466 252.366 90.111C251.482 90.845 253.071 86.837 255.898 81.203C261.346 70.346 264.548 59.321 263.484 55.081C262.58 51.477 259.939 50.027 257.447 51.765ZM210.784 68C210.114 85.525 208.397 93.4071 202.037 108.161C198.469 116.437 194.804 122 192.92 122C192.517 122 191.399 119.863 190.435 117.25C188.984 113.319 188.606 108.041 188.241 86.65C187.999 72.432 187.418 61.182 186.951 61.65C185.467 63.136 184.726 92.832 185.898 103.856C187.796 121.695 192.088 127.357 197.508 119.168C200.975 113.929 206.601 100.349 209.124 91.1271C211.124 83.8181 212.903 59.544 211.808 54.494C211.571 53.397 211.11 59.475 210.784 68ZM255.503 56.816C254.114 58.914 252.064 63.232 250.947 66.41C248.957 72.073 244.91 93.085 245.647 93.927C246.531 94.937 256.731 78.0071 259.407 71.0891C261.665 65.2501 263.027 57.82 262.329 55.15C261.453 51.799 258.317 52.564 255.503 56.816ZM124.646 60.75C123.734 62.813 122.161 66.973 121.15 69.995L119.313 75.49L108.406 76.55C102.408 77.132 96.6 78.178 95.5 78.873C93.63 80.055 93.663 80.0961 96 79.4971C99.278 78.6571 118.039 76.6931 118.439 77.1481C118.609 77.3421 117.999 81.749 117.083 86.943C115.521 95.799 115.234 96.4641 112.459 97.6481C108.456 99.3551 105.497 99.304 104 97.5C102.226 95.363 99.006 95.6451 96.314 98.1741C94.349 100.021 94 100.096 94 98.6741C94 97.7531 93.662 97.021 93.25 97.047C92.838 97.073 89.155 101.135 85.066 106.074C80.968 111.024 76.593 115.315 75.318 115.635C69.066 117.204 67.651 113.359 68.273 96.5C68.659 86.033 69.289 81.788 71.506 74.713C73.02 69.88 73.968 65.6351 73.613 65.2791C72.381 64.0471 71.206 66.537 69.576 73.834C67.628 82.557 62.44 93.222 54.025 105.802C48.032 114.762 44.974 117.72 42.979 116.487C40.1 114.708 43.965 85.8701 49.049 71.1971C51.931 62.8791 52.147 61.173 50.161 62.401C48.548 63.397 43.172 79.369 41.646 87.698C40.698 92.873 38.143 100.045 34.059 108.999C27.272 123.879 26.392 125.235 24.974 122.992C22.65 119.316 24.653 98.0111 29.477 75.1011C30.334 71.0311 30.741 67.431 30.381 67.101C30.021 66.77 29.526 67.062 29.28 67.748C29.005 68.52 27.924 68.768 26.448 68.398C18.83 66.486 7.10498 83.007 2.06198 102.759C-1.22902 115.648 -0.215021 122.454 4.18698 117.018C5.97598 114.808 23.117 82.681 25.804 76.5C28.706 69.825 24.833 76.355 17.5 90.5C3.87198 116.787 1.99998 119.652 1.99998 114.219C1.99998 105.003 9.73498 85.204 16.802 76.33C21.423 70.529 24.692 68.858 26.523 71.362C27.169 72.246 27.919 72.748 28.189 72.478C28.459 72.207 27.881 75.7021 26.904 80.2431C24.423 91.7771 22 108.817 22 114.729C22 123.541 24.837 128.312 27.889 124.634C28.513 123.882 31.523 117.695 34.578 110.884C38.297 102.592 39.925 99.767 39.505 102.335C38.821 106.513 39.714 115.919 40.989 117.982C43.565 122.15 52.107 112.953 62.015 95.343L66.604 87.1871L66.559 99.343C66.512 112.055 67.258 114.998 71.042 117.022C74.213 118.72 77.693 116.369 85.468 107.277C89.765 102.252 92.626 99.6271 92.823 100.527C93.243 102.439 93.547 102.395 96.873 99.9361C99.56 97.9501 99.797 97.936 103.221 99.568C106.496 101.13 107.141 101.14 111.388 99.693L116 98.121V103.626C116 106.654 116.466 110.002 117.035 111.066C118.103 113.06 121.451 113.697 122.442 112.093C122.751 111.595 122.115 111.419 121.03 111.702C117.438 112.642 116.475 108.308 117.808 97.2091C118.45 91.8691 119.543 85.25 120.238 82.5L121.5 77.5L132 76.9461L142.5 76.391L132.25 76.1961C126.613 76.0881 122.005 75.887 122.011 75.75C122.05 74.836 125.099 65.849 126.41 62.782C128.194 58.61 128.401 57 127.152 57C126.685 57 125.558 58.688 124.646 60.75ZM153.648 74.685C153.271 75.062 151.059 75.681 148.731 76.06C144.615 76.731 144.595 76.752 148 76.839C149.925 76.889 152.625 76.286 154 75.5C155.375 74.714 156.012 74.055 155.417 74.035C154.821 74.016 154.025 74.308 153.648 74.685ZM249.915 93.75C248.104 95.813 246.445 97.35 246.228 97.167C246.011 96.983 245.533 97.168 245.167 97.577C244.8 97.986 245.028 98.0181 245.674 97.6481C246.35 97.2611 247.008 97.7241 247.224 98.7381C247.529 100.172 248.395 99.7161 251.881 96.2861C254.236 93.9691 255.875 91.6061 255.522 91.0361C254.452 89.3041 253.351 89.836 249.915 93.75ZM143.703 97.5361C140.515 100.541 137.28 103 136.514 103C135.639 103 135.005 101.662 134.81 99.401L134.5 95.8031L131.206 100.651C128.798 104.197 128.597 104.746 130.456 102.694L133 99.888V102.444C133 104.539 133.475 105 135.638 105C137.577 105 139.841 103.344 144.184 98.75L150.091 92.5L149.412 98.5C148.497 106.574 148.002 107.673 141.465 116.134C138.354 120.16 134.947 125.264 133.894 127.477C132.84 129.69 132.546 130.65 133.239 129.611C133.933 128.572 136.187 125.197 138.25 122.111C140.312 119.025 143.166 115.15 144.592 113.5L147.184 110.5L146.527 114.355C145.478 120.509 142.211 130.211 139.952 133.88C137.933 137.16 137.829 137.201 136.466 135.255C134.34 132.22 131.251 131.803 129.493 134.314C126.571 138.486 128.193 143 132.615 143C134.917 143 140.306 136.464 142.922 130.5C144.911 125.964 148 114.812 148 112.167C148 110.678 150.264 107.403 154.223 103.163C159.111 97.93 159.372 97.519 155.439 101.25C152.685 103.863 150.17 106 149.85 106C149.53 106 149.639 104.087 150.091 101.75C151.141 96.323 151.212 91.9901 150.25 92.0361C149.838 92.0571 146.892 94.5321 143.703 97.5361ZM288.879 107.959C285.103 111.373 284.799 111.924 286.673 111.959C289.217 112.007 295 107.46 295 105.411C295 103.138 293.538 103.746 288.879 107.959ZM113.5 138C113.5 141.988 113.835 143 115.156 143C116.32 143 116.657 142.406 116.29 141C115.882 139.441 116.259 139 118 139C119.741 139 120.118 139.441 119.71 141C119.343 142.405 119.68 143 120.844 143.001C122.211 143.001 122.44 142.128 122.153 138.001C121.933 134.818 121.347 133 120.542 133C119.764 133 119.445 133.879 119.714 135.286C120.056 137.073 119.698 137.571 118.076 137.571C116.58 137.571 116 136.933 116 135.286C116 134.029 115.438 133 114.75 133C113.917 133 113.5 134.667 113.5 138ZM143.667 133.667C142.205 135.128 143.135 137.741 145.5 138.818C148.145 140.023 148.89 142 146.7 142C145.985 142 144.86 141.46 144.2 140.8C143.267 139.867 143 139.978 143 141.3C143 142.522 143.843 143 146 143C148.511 143 149 142.604 149 140.567C149 139.013 148.278 137.906 147 137.5C145.9 137.151 145 136.221 145 135.433C145 133.672 147.642 133.527 148.338 135.25C148.639 135.997 148.874 135.795 148.921 134.75C148.975 133.561 148.252 133 146.667 133C145.383 133 144.033 133.3 143.667 133.667ZM155 134.565C155 135.882 155.299 135.997 156.383 135.097C157.454 134.208 157.906 134.312 158.383 135.556C159.41 138.232 159.077 141.802 157.75 142.338C157.063 142.615 157.85 142.842 159.5 142.842C161.15 142.842 161.938 142.615 161.25 142.338C159.894 141.791 159.474 134 160.8 134C161.24 134 162.196 134.563 162.925 135.25C163.994 136.259 164.163 136.211 163.797 135C163.511 134.051 161.811 133.387 159.172 133.193C155.81 132.945 155 133.211 155 134.565ZM170.231 138V143H173.615C175.477 143 177 142.541 177 141.981C177 141.393 175.942 141.228 174.5 141.589C172.609 142.064 172 141.825 172 140.608C172 139.724 172.675 139 173.5 139C174.325 139 175 138.564 175 138.031C175 137.499 174.325 137.322 173.5 137.638C172.459 138.038 172 137.569 172 136.107C172 133.742 173.013 133.413 174.8 135.2C175.733 136.133 176 136.022 176 134.7C176 133.493 175.164 133 173.115 133C170.321 133 170.231 133.156 170.231 138ZM182.847 138.001L182.5 143.001H185.75C188.208 143 188.981 142.574 188.921 141.25C188.874 140.205 188.639 140.003 188.338 140.75C188.06 141.438 187.151 142 186.316 142C185.131 142 184.877 141.013 185.157 137.5C185.391 134.546 185.116 133 184.354 133C183.674 133 183.05 135.071 182.847 138.001ZM131.667 134.667C131.3 135.033 131 136.383 131 137.667C131 139.31 131.574 140 132.941 140C135.539 140 136.328 138.482 135.011 136.021C133.896 133.938 132.828 133.505 131.667 134.667Z"
            ></path>
          </svg>
        </div>
        <a
          id="contact"
          href="/contact-us"
          class="bg-secondary text-primary outline-transparent text-sm button-slice relative after:bg-primary flex flex-row translate-y-[1px] overflow-hidden transition-colors origin-bottom-left ease-in duration-200 hover:!text-white border-2 border-primary h-12 sm:py-2 md:py-3 md:px-6 shadow-gray-400 max-sm:py-0 max-sm:px-2  items-center gap-2 sm:gap-4 bg-transparent"
        >
          <div class="">
            <svg
              class="h-4 w-4 sm:h-6 sm:w-6"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              ><path
                d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"
              ></path></svg
            >
          </div>
          <p class="uppercase font-medium max-sm:text-xs text-center">
            Contact Us
          </p>
        </a>
      </div>
    </nav>
  </header>
</div>
<style>
  #header.activated {
    background-color: white;
    color: black;
    /* border-bottom: 1px solid rgb(227, 225, 225) */
  }

  .logo {
    /* fill: white; */
    fill: #008ecc;
  }

  #header.activated .logo {
    fill: black;
  }

  #header.activated #contact {
    color: black;
  }

  .button-slice::after {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    right: -1px;
    bottom: 0;
    transform: translate(100%, 0%) rotate(45deg);
    transition: 0.3s all ease-out;
    will-change: transform;
    z-index: -1;
    transform-origin: bottom right;
  }

  .button-slice:hover:after {
    transform: translate(0, 0);
  }
</style>
<script>
  window.addEventListener("scroll", () => {
    let header = document.getElementById("header");
    if (window.scrollY > 20) {
      header.classList.add("activated");
    } else {
      header.classList.remove("activated");
    }
  });
</script>
