---
const images = ["outdoor.jpg", "front.jpg", "rooms.jpg"];
---

<!-- <motion.div client:only="react" initial={{opacity: 0}} whileInView={{opacity: 1}} transition={{duration: 0.8}}> -->
<div class="w-full max-sm:h-screen">
  <div class="relative container h-full sm:gap-6 mx-auto">
    <div class="overflow-hidden max-lg:h-screen">
      <div id="slider" class="h-screen relative">
        {
          images.map((image: string, index: number) => (
            <img
              id=""
              src={`/images/${image}`}
              class={`w-full absolute top-0 h-screen object-cover left-0 brightness-[.2] border-2 border-red-600 ${index === 0 ? 'opacity-100 zoom-out' : 'opacity-0'}`}
              alt=""
            />
          ))
        }
      </div>
    </div>
    <div
      class="z-[50] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 text-white"
    >
      <h3 class="text-6xl text-center font-bold py-6 leading-[64px]">
        Welcome to Aunt Vicky's Hostel
      </h3>
      <br />
      <!-- <p class="font-semibold text-center text-2xl">Experience the charm of a bygone era in our cozy and welcoming hostel. Nestled in the
                heart of the city, Aunt Vicky's offers a home away from home for the modern traveller.
            </p> -->
      <br />
      <div class="flex gap-6 items-center justify-center">
        <a
          href="#amenities"
          class="rounded-sm py-2 text-lg px-4 hover:bg-white hover:text-black font-semibold transition-all duration-200 ease-in"
          >Learn More</a
        >
        <!-- <button
          class="rounded-md border-2 py-3 px-8 bg-white hover:bg-neutral-400 text-black font-semibold duration-150 ease-in"
          >Book Now</button
        > -->
        <div class="relative">
          <div class="absolute -inset-5">
            <div
              class="w-full h-full max-w-sm mx-auto lg:mx-0 opacity-30 blur-lg bg-gradient-to-r from-yellow-400 via-pink-500 to-green-600"
            >
            </div>
          </div>
          <a
            href="enquire-now"
            title=""
            class="relative z-10 inline-flex items-center justify-center w-full px-8 py-3 text-lg font-bold text-white transition-all duration-200 bg-primary border-2 border-transparent sm:w-auto rounded-xl hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
            role="button"
          >
            Book Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div></motion.div> -->

<style>
  .zoom-out {
    animation-name: zoom-out;
    animation-duration: 10s;
  }
  .zoom-in {
    animation-name: zoom-in;
    animation-duration: 10s;
  }

  @keyframes zoom-out {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes zoom-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
</style>
<script>
  const slider = document.getElementById("slider");
  const slides = slider.querySelectorAll("img")

  const slideCount = slides.length;
  let activeSlide = 0;
  let zoomIn = false;

  setInterval(() => {
    slides[activeSlide].classList.remove("active", "zoom-out", "zoom-in");
    slides[activeSlide].style.opacity = "0%";
    activeSlide++;
    zoomIn = !zoomIn
    if (activeSlide >= slideCount) {
      activeSlide = 0;
    }
    let zoomClass = zoomIn ? 'zoom-in' : 'zoom-out';
    slides[activeSlide].classList.add("active", zoomClass);
    slides[activeSlide].style.opacity = "100%";
  }, 10000);
  let data = ["outdoor.jpg", "front.jpg"];
</script>
